.cog-main {

}

.cog-image {
  height: 35px;
  width: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.cog-list {
  display: none;
  position: fixed;
  top: 55px;
  right: 15px;
}

.cog-list-el {
  list-style: none;
  font-size: 22px;
  color: #ffbd54;
  border-bottom: 2px solid #ffbd54;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 5px;
  font-family: Lora;
  display: flex;
  justify-content: flex-end;
}

.cog-list-el:hover {
  color: #f44242;
  border-bottom: 2px solid #f44242;
}
