.cog-main {

}

.cog-image {
  height: 35px;
  width: 35px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.cog-list {
  display: none;
  position: fixed;
  top: 55px;
  right: 15px;
}

.cog-list-el {
  list-style: none;
  font-size: 22px;
  color: #ffbd54;
  border-bottom: 2px solid #ffbd54;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 5px;
  font-family: Lora;
  display: flex;
  justify-content: flex-end;
}

.cog-list-el:hover {
  color: #f44242;
  border-bottom: 2px solid #f44242;
}

.cog-about-main {
  display: none;
  position:fixed;
  top: 34.75%;
  left: 35%;
  font-family: Lora;
  border-radius: 25px;
  background-color: #e8e5d3;
  color: #ffbd54;
  padding: 10px;
}

.about-about{
  font-size: 24px;
  border-bottom: 2px solid #ffbd54;
  display: flex;
  justify-content: center;
}

.about-name{
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.about-year{
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.about-img-container{
  justify-content: center;
  align-items: center;
}

.about-img {
  height: 35px;
  weight: 35px;
  padding: 15px;
}
